@CHARSET "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'KOHINanumOTFL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHINanumOTFL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}


input[type=submit]{
		width : 400px;
	height : 50px;
	background-color: #3CB371;
	border-radius: 5px;
	border : 0px;
	margin-top : 10px;
	color : white;
	font-size: 18px;
	font-family: 'Pretendard-Regular';
	margin-bottom:20px;
	
}



input[type=password] {
	
	padding : 20;
	width: 300;
	height: 40;
	 font-size: 15px;
	 text-align: left;
}

input[type=button] {
	
	width : 130px;
	height : 45px;
	border-radius: 5px;
	border : 0px;
	margin-left: 5px;
}

td .name{
	 font-family: 'Pretendard-Regular';
	text-align : left;
	font-size: 19px;
		padding-left: 20px;
	padding-bottom: 15px;
}

td .text_elseZip{
	
	width: 450px;
	height: 50px;
	 font-size: 17px;
	 text-align: left;
	 font-family: 'Pretendard-Regular';
	 margin-bottom: 15px;
}

td .text_id {
	
	width: 300px;
	height: 50px;
	 font-size: 17px;
	 text-align: left;
	 font-family: 'Pretendard-Regular';
	 margin-bottom: 15px;
	
	
}


#member_addr {
	
	width: 450px;
	height: 50px;
	 font-size: 17px;
	 text-align: left;
	 font-family: 'Pretendard-Regular';
	 margin-bottom: 8px;
	 align : left;
	 flex: left;

	margin-left : 20px;
	margin-right : 10px;
	
}
#member_zipcode{
	width: 303px;
	height: 50px;
	 font-size: 17px;
	 text-align: left;
	 font-family: 'Pretendard-Regular';
	 margin-bottom: 15px;
}

#member_pw {
	
	margin-left : 15px;
	margin-right : 10px;
}

#member_pw2 {

	margin-left : 15px;
	margin-right : 10px;
}

#member_name {
	margin-left : 15px;
	margin-right : 10px;
}

#member_email {
	
	margin-left : 15px;
	margin-right : 10px;
}

#member_tel {

	margin-left : 15px;
	margin-right : 10px;
}



#member_addr2 {
	
	width: 450px;
	height: 50px;
	 font-size: 17px;
	 text-align: left;
	 font-family: 'Pretendard-Regular';
	 margin-bottom: 8px;

	margin-left : 15px;
	margin-right : 10px;
	 flex: left;
	
}

.span_olm{
	
	margin-bottom:3px;
	
}

h1{
	
	margin-top : 100px;
	font-family: 'KOHINanumOTFL';
		color: #3CB371;
}

h2{
	
	font-family: 'Pretendard-Regular';
}

